@media (max-width: 800px) {
    .slider {
        padding: 90px 0 130px 0;
        max-width: 400px;
    }
}

@media (max-width: 620px) {
    .slider .title {
        font-size: 52px;
        line-height: 115%;
    }
}
@media (max-width: 425px) {
    .slider {
        padding: 50px 0 70px 0;
        max-width: 310px;
    }
    .slider .title {
        font-size: 32px;
    }
    .slider .subtitle {
        font-size: 14px;
    }
    .slider .button {
        width: 200px;
    }
    .slider__subtitle {
        margin-bottom: 40px;
    }
}
