@media (max-width: 800px) {
    .slider {
        padding: 90px 0 130px 0;
    }
    .slider__container {
        max-width: 425px;
    }
}

@media (max-width: 620px) {
    .slider__title {
        font-size: 52px;
        line-height: 115%;
    }
}
@media (max-width: 425px) {
    .slider {
        padding: 50px 0 70px 0;
    }
    .slider__container {
        max-width: 310px;
    }
    .slider__title {
        font-size: 32px;
    }
    .slider__subtitle {
        font-size: 14px;
        margin-bottom: 40px;
    }
    .slider__button {
        width: 150px;
        min-height: 45px;
        margin-bottom: 40px;
    }
}
